<div *ngIf="dataLoaded == false" class="spinner-border text-info" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Search</label>
  <input
    [(ngModel)] = "filterText"
    type="text"
    class="form-control"
    id="filterText"
    placeholder="Search Product"
  />
</div>
<div class="alert alert-primary" *ngIf="filterText.length>0">
  {{filterText}} searching
</div>
<table *ngIf="dataLoaded == true" class="table">
  <thead>
    <tr>
      <th scope="col">Product Id</th>
      <th scope="col">Category Id</th>
      <th scope="col">Product Name</th>
      <th scope="col">Unit In Stock</th>
      <th scope="col">Unit Price</th>
      <th scope="col">With VAT Price</th>
      <th scope="col">+</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products | filterPipe:filterText">
      <td>{{ product.productId }}</td>
      <td>{{ product.categoryId }}</td>
      <td>{{ product.productName }}</td>
      <td>{{ product.unitsInStock }}</td>
      <td>{{ product.unitPrice | currency }}</td>
      <td>{{ product.unitPrice | vatAdded: 10 | currency }}</td>
      <td><button (click)="addToCart(product)" type="button" class="btn btn-outline-info">Add the Product</button></td>
    </tr>
  </tbody>
</table>
